@page "/books/{Id:guid}"

@using WebApplication9.Pages.Books_Components.BookPageComponents;
@using WebApplication9.Pages.Comment_Components;
@using WebApplication9.Data.Repositories.InterfacesRepo;
@using WebApplication9.Data.Models;

@attribute [Authorize]

@inject IBookRepository BookRepo;
@inject NavigationManager NavigationManager;
@inject PageHrefService Pager;
@inject UserService UserService;
@inject ICommentRepository CommentRepo;
@inject IBookRatingRepository BookRatingRepo;

@if (book != null)
{
    <div class="content bg-author" style="background-image: url(@book.BackgroundImage);">
        <div class="container mt-5">
            <div class="row">
                <BookImage ImageUrl="@book.ImageUrl" />
                <div class="col-sm-8 bg-white sp-col">
                    <div class="container">
                        <div class="row" style="font-family: 'Poppins', sans-serif;">
                            <div class="col-sm-12 text-center">
                                <h2 class="h1">@book.Title</h2>
                            </div>
                            <div class="col-sm-12 mt-lg-4">
                                <h2 class="h3">
                                    <b>Author(s):</b>
                                    <span>
                                        <GenericList ListOfItems="book.Authors">
                                            <ItemTemplate Context="author">
                                                <MudLink Underline="Underline.None" Style="font-size:25px" Href="@Pager.GetHref("/authors/", author.Id)" Color="MudBlazor.Color.Secondary">@author.FullName &nbsp;</MudLink>
                                            </ItemTemplate>
                                        </GenericList>
                                    </span>
                                </h2>
                            </div>
                            <div class="col-sm-12 mt-lg-5">
                                <h2 class="h3">
                                    <b>Genre(s):</b>
                                    <span>
                                        <GenericList ListOfItems="book.Genres">
                                            <ItemTemplate Context="genre">
                                                <MudLink Underline="Underline.None" Style="font-size:25px" Href="@Pager.GetHref("/genres/", genre.Id)" Color="MudBlazor.Color.Secondary">@genre.Name &nbsp;</MudLink>
                                            </ItemTemplate>
                                        </GenericList>
                                    </span>
                                </h2>
                            </div>
                            <div class="col-sm-12 mt-lg-5">
                                <h2 class="h3"><b>Publication date:</b> @book.PublishedDay </h2>
                            </div>
                            <div class="col-sm-12 mt-lg-5">
                                <h2 class="h3 mt-2"><b>Pages:</b> @book.Pages </h2>
                            </div>
                            <div class="col-sm-12 text-center mt-lg-5">
                                <BookItemTool Book="book" />
                            </div>
                            <div class="col-sm-12 text-center mt-lg-5">
                                <MudItem>
                                    <MudRating SelectedValue="@Convert.ToInt32(Math.Round(bookRatingValue, 2))" Size="MudBlazor.Size.Large" ReadOnly="true" />
                                </MudItem>
                                <h5>(@bookRatingValue - @book.Ratings.Count() voters)</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 bg-white sp-col">
                    <MudTabs Elevation="4" Rounded="true" Centered="true">
                        <MudTabPanel Style="font-size:20px" Text="Description">
                            <div class="col-sm-12" style="min-height:400px">
                                <BookRatingComponent Book="@book" User="@user" RefreshComponent="@RefreshComponents" />
                            </div>
                        </MudTabPanel>
                        <MudTabPanel Style="font-size:20px" Text="Comments">
                            <div class="col-sm-12" style="min-height:400px">
                                <h2 class="h3 mb-lg-3 mt-lg-3" style="font-family: 'Poppins' , sans-serif;"><b>Post comment here</b></h2>
                                <MudItem Class="row">
                                    <MudItem Class="col-sm-11">
                                        <MudTextField T="string" @bind-Value="@commentContent" Lines="2" Variant="Variant.Outlined" Style="font-size:20px" />
                                    </MudItem>
                                    <MudItem Class="col-1 mt-2">
                                        <MudFab Color="MudBlazor.Color.Transparent" OnClick="@AddCommentToBook" Icon="@Icons.Material.Filled.Send" IconColor="MudBlazor.Color.Primary" />
                                    </MudItem>
                                </MudItem>
                                <div class="col-sm-12 mt-lg-5 pa-4">
                                    <GenericList ListOfItems="book.Comments">
                                        <ItemTemplate Context="comment">
                                            <CommentItem Comment="comment" />
                                        </ItemTemplate>
                                    </GenericList>
                                </div>
                            </div>
                        </MudTabPanel>
                    </MudTabs>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .mud-icon-size-large {
        font-size: 4.25rem;
    }
</style>

@code {
    [Parameter] public Guid Id { get; set; }
    private Book book;
    private IdentityUser user;
    private double bookRatingValue;
    private string commentContent = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        await GetBook();
        user = await UserService.GetUser();
        bookRatingValue = BookRepo.GetBookRatingsAverage(book);
    }

    private async Task GetBook()
    {
        book = await BookRepo.GetById(Id);
        if (book == null) NavigationManager.NavigateTo("notfound");
    }

    private async void AddCommentToBook()
    {
        var newComment = new WebApplication9.Data.Models.Comment() { Book = book, Content = commentContent, UserName = user.UserName };
        await CommentRepo.Add(newComment);
        commentContent = string.Empty;
        await RefreshComponents();
    }

    private async Task RefreshComponents()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }
}
