@using WebApplication9.Data.Repositories.InterfacesRepo;
@using WebApplication9.Data.Models;

@inject IBookRepository BookRepo;
@inject PageHrefService Pager;

<article class="mt-2 product bookItem mb-5">
    <span class="image">
        <img class="bookItem" src="@Book.ImageUrl" alt="">
    </span>
    <div class="specifies">
        <h2>
            @Book.Title<br><MudRating ReadOnly="true" SelectedValue="@Convert.ToInt32(BookRepo.GetBookRatingsAverage(Book))" /><span>(@Book.Ratings.Count() voters.)</span>
            <br />
            <span>
                @foreach (var author in Book.Authors)
                {
                    <MudLink Underline="Underline.None" Style="font-size:14px" Color="MudBlazor.Color.Secondary" Href="@Pager.GetHref("/authors/", author.Id)">@author.FullName &nbsp;</MudLink>
                }
            </span>
            <br />
            <span>
                @foreach (var genre in Book.Genres)
                {
                    <MudLink Underline="Underline.None" Style="font-size:14px" Color="MudBlazor.Color.Secondary" Href="@Pager.GetHref("/genres/", genre.Id)">@genre.Name &nbsp;</MudLink>
                }
            </span>
        </h2>
        <br>
        <h4>@Book.SmallDescription</h4>        
        <div class="text-center">
            <MudFab Style="width:70%" Color="MudBlazor.Color.Tertiary" Icon="@Icons.Material.Filled.QuestionAnswer" Size="MudBlazor.Size.Small" IconSize="MudBlazor.Size.Small" Label="Read more" Class="ma-2" Link="@Pager.GetHref("/books/", Book.Id)" />
        </div>
         <BookItemTool Book="Book" />
    </div>
</article>

@code {
    [Parameter] public Book Book { get; set; }
}
