@using WebApplication9.Data.Models;
@using WebApplication9.Pages.Books_Components.LibraryBookComponents;

@inject ISnackbar Snackbar;

<MudCard Class="mud-elevation-4 col-8 text-center mb-5 mt-5 ml-5 mt-5">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1"><h2 class="h3 mt-2">@BookProgress.Book.Title</h2></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="MudBlazor.Color.Default" OnClick="deleteModal.OpenDeleteModal" />
        </CardHeaderActions>
    </MudCardHeader>
    <div class="mud-card-media" alt="" style="background-image: url(@BookProgress.Book.ImageUrl);height:250px;width:70%;margin-left:auto;margin-right:auto"></div>
    <MudCardContent>
        <MudText Typo="Typo.body2">@BookProgress.Book.SmallDescription</MudText>
        <Blazorise.Progress>
            <Blazorise.ProgressBar Value="(BookProgress.CurrentBookPage * 100)/ BookProgress.Book.Pages" Max="100" />
        </Blazorise.Progress>
    </MudCardContent>
    <MudCardActions Class="col-12 text-center">
        <MudFab data-backdrop="static" Color="MudBlazor.Color.Secondary" Icon="@Icons.Material.Filled.Book" Size="MudBlazor.Size.Small" IconSize="MudBlazor.Size.Small" Label="Read now" Class="ma-2" OnClick="pdfModal.OpenPDFModal"></MudFab>
    </MudCardActions>
</MudCard>

<CascadingValue Name="BookWithProgress" Value="BookProgress">

    <BookPDFModal @ref="pdfModal" />
    <BookDeleteModal @ref="deleteModal" />

</CascadingValue>

@code {
    [Parameter] public ReadProgress BookProgress { get; set; }
    private BookPDFModal pdfModal;
    private BookDeleteModal deleteModal;

}
